<section>
  <h1>List all users</h1>
  <% @users.each do |user| %>
  <ul>
      <li><%= user.name %></li>
      <li><%= user.photo %></li>
      <li><%= user.bio %></li>
      <li><%= user.posts_counter %> posts</li>
  </ul>
  <% end %>
</section>