.comment_sect {
  margin: 0 0 1em 0;
  padding: 20px;
}

.comment_title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: rgb(8, 127, 143);
}

.submit {
  background-color: rgb(8, 127, 143);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.text_field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

/* .field {
  margin-bottom: 20px;
  width: 30%;
} */
