section {
  margin: 30px 0 0;
}

img {
  width: 100px;
}

.list_users {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.one_user {
  display: flex;
  margin: 20px 0;
  gap: 25px;
  max-height: 300px;
}

.user_info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 88%;
  height: 120px;
  padding: 5px;
}

.user_info h2 {
  color: rgb(8, 143, 8);
}

.num_posts {
  text-align: right;
  padding-right: 20px;
}

.user_name {
  padding-left: 20px;
}

.user_bio {
  padding: 10px;
  width: 50%;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.user_bio h4 {
  color: rgb(8, 143, 8);
}

.user_bio p {
  font-style: italic;
}

.user_post {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

.posts_list {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 20px;
}

.like_comment {
  display: flex;
  justify-content: flex-end;
}

.see_btn {
  background-color: rgb(8, 143, 8);
  padding: 10px;
  border: none;
  width: 150px;
}

.see_btn a {
  color: white;
}

.see_btn a:hover {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.posts_list p {
  font-style: italic;
}
